{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <h1>Reset Password</h1>

    {% if validlink %}
        <p>Please Enter Password Twice:</p>

        <form method="post">
            {{ form.as_p }}
            <p><input type="submit" value="Change My Password"></p>
            {% csrf_token %}
        </form>

    {% else %}
        <p>
            The Password Link Was Invalid, Probabaly It Has Already Been Used.
            Please Request A New Password Reset.
        </p>
        
    {% endif %}
{% endblock %}